<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.aeonphyxius"
      android:versionCode="3"
      android:versionName="1.03"
      android:installLocation ="auto"
      >
      
    <uses-sdk android:minSdkVersion="10" android:targetSdkVersion="15"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    

    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:name=".activity.WelcomeActivity"
                  android:label="@string/app_name" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.MainMenuActivity" android:screenOrientation="portrait"></activity>
        <service android:name=".engine.sound.OldMusic"></service>
        <activity android:name=".activity.GameActivity" android:screenOrientation="portrait"></activity>
        <activity android:name=".activity.AboutActivity"></activity>
        <activity android:name=".activity.OptionsActivity"></activity>
        <activity android:name=".activity.SoundOptionsActivity"></activity>
        <activity android:name=".activity.DiffOptionsActivity"></activity>
        <activity android:name=".activity.ExitActivity"></activity>
        <activity android:name=".activity.Help1Activity"></activity>
        <activity android:name=".activity.Help2Activity"></activity>
        <activity android:name=".activity.Help3Activity"></activity>
        <activity android:name=".activity.VibrationOptionsActivity"></activity>
        

    </application>
</manifest>